name: Django CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Migrations models
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Coverage report
      run: |
        pip install coverage
        coverage run python manage.py test
        coverage report
    - name: Django Testcase
      run: |
        python manage.py test

